@page
@model OnlineBookstore.Pages.CheckoutCompletedModel
@{
}
<div class="text-center">
    <h2>Thank you for shopping with us!</h2> <br />
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>
